.DS_Store
dotfiles/.config/beets
dotfiles/.config/cmus
dotfiles/.config/configstore
dotfiles/.config/qBittorrent
dotfiles/.config/ranger
dotfiles/.config/vifm
dotfiles/.config/wireshark
dotfiles/.config/yarn

